    <h1 class="has-text-weight-bold">Edit Game</h1>
    <br>
    <%= form_for @game do |f| %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :console_id %>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="text" name="game[title]" value="<%= @game.title %>">
                <span class="icon is-small is-left">
                <i class="fas fa-gamepad"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <button class="button is-success">
                Edit
                </button>
            </p>
        </div>
    <% end %>
<br>
<div class="field">
    <p class="control">
        <form action="/users/<%= @user.id %>/consoles/<%= @console.id %>/games/<%= @game.id %>/destroy" method="delete">
            <button class="button is-danger">
                Delete
            </button>
        </form>
</div>
